/* GENERELT */
* {
	margin: 0;
}

img {
	width: 100%;
}

header {
	position: sticky;
	top: 0;
}

nav {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.sticky {
	width: 100%;
	box-shadow: 0px 5px 7px 0px rgba(2, 64, 18, 0.8);
}

button {
	color: #024012;
	background-color: #fff;
	border-radius: 1rem;
	border-color: #024012;
	box-shadow: 5px 5px 7px 0px rgba(2, 64, 18, 0.8);
	margin: 1rem;
	padding: 0.5rem 1rem;
	font-family: sans-serif;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

button:hover {
	background-color: #024012;
	color: #fff;
}

.selected {
	background-color: #024012;
	color: #fff;
}

main {
	max-width: 1500px;
	margin: 0 auto;
}

section {
	padding: 0 1rem;
}

#gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1rem;

}

article {
	border-style: solid;
	border-color: #d90b14;
	border-radius: 0.5rem;
	padding: 1rem;
	margin-bottom: 1rem;
	line-height: 1.5;
}

.long_description {
	max-width: 50ch;
}

.loading {
	display: none;
}

.loader {
	display: none;
}

.loading + .loader {
	display: block;
	font-family: 'russianregular';
	font-size: 3rem;
	color: #024012;
	text-align: center;
	padding: 5rem;

}


/* FONTS & STYLING */
@font-face {
	font-family: 'russianregular';
	src: url('font/russian-webfont.woff2') format('woff2'),
		url('font/russian-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

h1 {
	font-family: 'russianregular';
	font-size: 8rem;
	color: #024012;
	text-align: center;
	padding: 1rem;
}

h2 {
	color: #024012;
	font-size: 2rem;
	padding: 1rem;
}

h3 {
	color: #024012;
	font-size: 1.4rem;
}

p {
	color: #024012;
	font-size: 1.2rem;
}

#splash {
	display: none;

}


@media (min-width: 768px) {
	.splash {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	#text_main {
		position: relative;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	#img_main {
		object-fit: cover;
		grid-column: 2 / 3;
		grid-row: 1 / 4;
	}

	#splash {
		display: block;
		object-fit: contain;
		object-position: bottom;
	}
}

#section_details {
	padding: 1rem;
}

#text_details p {
	padding: 1rem;
}
